.hidden {
	display: none;	
}
textarea {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  resize: none;
}
.tiny {
	height: 200px;
}
.teensy {
	height: 50px;
}
.card {
	margin: 0;
}
.tight {
	margin: 3px;
}
ul.tight {
	padding: 0;
}
.smallerText { 
	font-size: .80em;
}
.rowfix {
	margin-bottom: 0;
}
