.tiny {
    font-size: .7em;
}

.packed {
    margin: 3px !important;
}


.divider {
    margin: 1px !important;
}

.btn {
    text-transform: none !important;
}

.hidden {
    display: none;
}


.bar {
    margin: 3px;
    padding: 4px;
}

.packed-btn {
    margin: 2px !important;
    padding: 5px !important;
    border: 5px !important;
    height: 20px !important;
}